@font-face {
    font-family: "Outfit Regular";
    src: url("/fonts/Outfit-Regular.ttf") format("truetype");
}

:root {
    --white: #f0f0f0;
    --black: #0d100e;
    --w-grey: #ececec;
    --light-grey: #c2c2c2;
    --dark-grey: #333;
    --dark-grey-acc: #666;
    --green-300: #3b7549;
    --green-400: #428151;
    --green-acc: #2d9748;

    --light-bg: var(--white);
    --dark-bg: var(--black);

    --text-dark: var(--black);
    --text-light: var(--white);

    --font-regular: "Outfit Regular", sans-serif;

    --cell-size: 48px;
    --gap: 3px;
    --given-bg: var(--light-grey);
    --input-bg: var(--w-grey);
    --border: #222;
}

/* --- Reset & General Styles --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-regular);
    background-color: var(--white);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

/* --- Header --- */
header {
    padding: 20px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    z-index: 1;
}

.theme-toggle {
    padding: 0.5rem 0.5rem;
    color: var(--dark-grey);
    background: none;
    border: none;
    cursor: pointer;
}
.theme-toggle:disabled {
    opacity: 0.7;
}
.theme-toggle.selected {
    color: var(--light-bg);
    background-color: var(--green-400);
    border-radius: 5px;
}

/* --- Language Menu --- */
#lang-menu {
    position: absolute;
    top: 3rem;
    left: 1rem;
    list-style: none;
    padding: 0.5rem 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 100;
}

#lang-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    animation: popIn 0.25s ease forwards;
}
#lang-menu.hidden {
    animation: popIn 0.25s ease backwards;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateY(-10px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

#lang-menu li {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* space between emoji and text */
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--text-dark);
    transition: background 0.2s ease;
}

#lang-menu li:hover {
    color: var(--text-light);
    background-color: var(--dark-grey);
}

/* --- Screens Management --- */
.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

/* --- Elements --- */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--dark-grey);
}

p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.button {
    background-color: var(--green-300);
    color: var(--text-light);
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--green-acc);
}

/* --- Difficulty ---*/
.diff-select {
    display: flex;
    margin: 1rem 0;
    gap: 0.3rem;
    color: var(--text-dark);
    height: 2.5rem;
    width: fit-content;
}
.diff-select button {
    border: none;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid var(--green-300);
    padding: 0.6em 1.4em;
    cursor: pointer;
}
.diff-select button.selected {
    border-radius: 5px;
    background-color: var(--green-300);
    color: var(--text-light);
    transition: background-color 0.5s ease-in-out all;
}

/* --- Game Container ---*/
.controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    grid-template-rows: repeat(9, var(--cell-size));
    gap: var(--gap);
    width: calc(9 * var(--cell-size) + 8 * var(--gap));
    margin-bottom: 12px;
    user-select: none;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-size: 18px;
    box-sizing: border-box;
}

.cell input {
    width: 100%;
    height: 100%;
    border: 0;
    text-align: center;
    font-size: 18px;
    background: transparent;
    outline: none;
}

/* thicker borders for 3x3 boxes */
.cell.box-right {
    border-right: 2px solid var(--border);
}
.cell.box-left {
    border-left: 2px solid var(--border);
}
.cell.box-bottom {
    border-bottom: 2px solid var(--border);
}
.cell.box-top {
    border-top: 2px solid var(--border);
}

.given {
    background: var(--given-bg);
}
.invalid {
    background: #ffd6d6;
}

/* --- Footer --- */
footer {
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    z-index: 1;
}

footer p {
    margin-bottom: 0;
    align-self: center;
}

.links {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
}
.links svg {
    width: 24px;
    height: 24px;
    fill: var(--dark-grey);
}
.links a:hover svg {
    fill: var(--green-acc);
    transition: fill 0.3s ease;
    scale: 110%;
}

/* --- DARK THEME --- */
body.dark-theme {
    background-color: var(--dark-bg);
    color: var(--light-grey);
}
body.dark-theme h1 {
    color: var(--white);
}

body.dark-theme button {
    color: var(--text-dark);
}

body.dark-theme .theme-toggle {
    color: var(--light-grey);
}
body.dark-theme .theme-toggle.selected {
    color: var(--dark-bg);
}

body.dark-theme .game-header {
    color: var(--light-grey);
}

body.dark-theme #grid-container {
    background-color: var(--dark-bg);
}

body.dark-theme .links svg {
    fill: var(--light-grey);
}
body.dark-theme .links svg:hover {
    fill: var(--green-400);
}

body.dark-theme #lang-menu li {
    color: var(--text-light);
}

body.dark-theme #lang-menu li:hover {
    color: var(--text-dark);
    background-color: var(--light-grey);
}

body.dark-theme .diff-select button {
    color: var(--text-light);
}
body.dark-theme .diff-select button.selected {
    color: var(--text-dark);
}

/* --- THEME TRANSITION --- */
body,
h1,
button,
.game-container,
.game-header,
.theme-toggle,
#grid-container,
.links svg {
    transition: background-color 0.4s ease, color 0.4s ease, fill 0.4s ease;
}
